.pytest_cache
upload_temporary
__pycache__

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*bcf
*.fdb_latexmk
*.pdf
*.dvi
*.brf
*.bak
*.run.xml
*.snm
*.nav
*.tex~
*.tex.backup
*.ps
*.log
*.exe
*.dll
*.a
*.o
